<div class="sidePane-wrapper" #sidePane tabindex="-1">
    <app-icon-hideSP class="icon"
    (click)="hideSidePane.emit()"
    (mouseenter)="hover = true"
    (mouseleave)="hover = false"
    [svg_color]="hover ? '#FAF0E6' : '#000000'">
    </app-icon-hideSP>

    @if(this.lyt.sidePaneState() === "Profile") {
        <app-profile></app-profile>
    }
    @if(this.lyt.sidePaneState() === "Files") {
        <p>Showing Files!</p>
    }
    @if(this.lyt.sidePaneState() === "Query") {
        <app-query></app-query>
    }
</div>