<div class="sidePane-wrapper">
    <app-icon-hideSP class="icon"
    (click)="hideSidePane.emit()"
    (mouseenter)="hover = true"
    (mouseleave)="hover = false"
    [svg_color]="hover ? '#FAF0E6' : '#000000'">
    </app-icon-hideSP>

    <textarea #placeholderElement></textarea>
    @if(sidePaneElement === "Profile") {
        <p>Showing Profile!</p>
    }
    @if(sidePaneElement === "Files") {
        <p>Showing Files!</p>
    }
    @if(sidePaneElement === "Query") {
        <p>Showing Queries!</p>
    }
</div>