.profile-picture-wrapper {
    margin-top: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.user-name {
    width: 100%;

    font-size: large;
    font-weight: bold;
    text-align: center;

    background-color: azure;
    border-top: 2px solid rgb(155, 155, 249);
    border-bottom: 2px solid rgb(155, 155, 249);
}
