<div class="profile-picture-wrapper">
        @if (chosenProfilePicture() === "Bird") {
            <app-avatar-bird [class.targeted]="selectedItem() === 'ProfilePicture'"></app-avatar-bird>
        }
        @if (chosenProfilePicture() === "Duck") {
            <app-avatar-duck [class.targeted]="selectedItem() === 'ProfilePicture'"></app-avatar-duck>
        }
        @if (chosenProfilePicture() === "Sheep") {
            <app-avatar-sheep [class.targeted]="selectedItem() === 'ProfilePicture'"></app-avatar-sheep>
        }
        @if (chosenProfilePicture() === "Earth") {
            <app-avatar-earth [class.targeted]="selectedItem() === 'ProfilePicture'"></app-avatar-earth>
        }
        @if (chosenProfilePicture() === "Falling") {
            <app-avatar-falling [class.targeted]="selectedItem() === 'ProfilePicture'"></app-avatar-falling>
        }
        @if (chosenProfilePicture() === "Squirrel") {
            <app-avatar-squirrel [class.targeted]="selectedItem() === 'ProfilePicture'"></app-avatar-squirrel>
        }

<span class="user-name" [class.targeted]="selectedItem() === 'UserName'">
    {{ userName() }}
</span>
<h3>About me:</h3>
<p [class.targeted]="selectedItem() === 'Description'">
    {{ userDescription() }}
</p>
</div>
