.profile-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.profile-picture-wrapper {
    margin-top: 1rem;
    display: flex;
}

.profile-picture-wrapper.targeted {
    box-shadow: 0 0 15px 10px #1d8284;
    border-radius: 50%;
}

.user-name.targeted{
    box-shadow: 0 3px 10px 0 #1d8284,
                0 -3px 10px 0 #1d8284;
}

.user-bio.targeted {
    box-shadow: 0 3px 10px 0 #1d8284,
                0 -3px 10px 0 #1d8284;
}

.heading {
    font-size: medium;
}

.user-name {
    width: 100%;

    font-size: large;
    font-weight: bold;
    text-align: center;

    background-color: azure;
    border-top: 2px solid rgb(155, 155, 249);
    border-bottom: 2px solid rgb(155, 155, 249);
}
