nav {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    color: var(--nav-fg, #FAF0E6);
    background: var(--nav-bg, #424263);

    border-radius: 5px;
}
nav ul {
    width: 100%;
}
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navbar-icon-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}

.navbar-icon {
    padding: 5px;
    display: flex;
    border-radius: 10px;
}

.navbar-icon.active {
    background-color: #C0E1EC;
    opacity: 1;
}

.navbar-icon:hover {
    background-color: #1d8284;
    color: var(--seq-fg, black);
    cursor: pointer;
}