<nav class="query-wrapper">
    <button
    class="query-button"
    [class.active]="this.lyt.queryState() === 'Genome'"
    [class.selected]="this.lyt.currentlyTargeted() === 'IconQueryGenome'"
    (click)="this.lyt.changeQueryState('Genome')"
    >
        <app-icon-query-genome
        class="query-icon"
        (mouseenter)="hoverGenome = true"
        (mouseleave)="hoverGenome = false"
        [svg_color]="this.lyt.queryState() === 'Genome' ? '#1f2937' : '#FAF0E6'">
        </app-icon-query-genome>
    </button>

    <button
    class="query-button"
    [class.active]="this.lyt.queryState() === 'Gene'"
    [class.selected]="this.lyt.currentlyTargeted() === 'IconQueryGene'"
    (click)="this.lyt.changeQueryState('Gene')"
    >
        <app-icon-query-gene
        class="query-icon"
        (mouseenter)="hoverGene = true"
        (mouseleave)="hoverGene = false"
        [svg_color]="this.lyt.queryState() === 'Gene' ? '#1f2937' : '#FAF0E6'">
        </app-icon-query-gene>
    </button>

    <button
    class="query-button"
    [class.active]="this.lyt.queryState() === 'Prokaryot'"
    [class.selected]="this.lyt.currentlyTargeted() === 'IconQueryProkaryot'"
    (click)="this.lyt.changeQueryState('Prokaryot')"
    >
        <app-icon-query-prokaryot
        class="query-icon"
        (mouseenter)="hoverProkaryot = true"
        (mouseleave)="hoverProkaryot = false"
        [svg_color]="this.lyt.queryState() === 'Prokaryot' ? '#1f2937' : '#FAF0E6'">
        </app-icon-query-prokaryot>
    </button>

    <button
    class="query-button"
    [class.active]="this.lyt.queryState() === 'Virus'"
    [class.selected]="this.lyt.currentlyTargeted() === 'IconQueryVirus'"
    (click)="this.lyt.changeQueryState('Virus')"
    >
        <app-icon-query-virus
        class="query-icon"
        (mouseenter)="hoverVirus = true"
        (mouseleave)="hoverVirus = false"
        [svg_color]="this.lyt.queryState() === 'Virus' ? '#1f2937' : '#FAF0E6'">
        </app-icon-query-virus>
    </button>

    <button
    class="query-button"
    [class.active]="this.lyt.queryState() === 'Organelle'"
    [class.selected]="this.lyt.currentlyTargeted() === 'IconQueryOrganelle'"
    (click)="this.lyt.changeQueryState('Organelle')"
    >
        <app-icon-query-organelle
        class="query-icon"
        (mouseenter)="hoverOrganelle = true"
        (mouseleave)="hoverOrganelle = false"
        [svg_color]="this.lyt.queryState() === 'Organelle' ? '#1f2937' : '#FAF0E6'">
        </app-icon-query-organelle>
    </button>
    
</nav> 

@if(this.lyt.queryState() === "QueryMain") {
<app-query-main-page></app-query-main-page>
} @else if (this.lyt.queryState() === "Genome") {
<app-query-genome-page></app-query-genome-page>
} @else if (this.lyt.queryState() === "Gene") {
<app-query-gene-page></app-query-gene-page>
} @else if (this.lyt.queryState() === "Prokaryot") {
<app-query-prokaryot-page></app-query-prokaryot-page>
} @else if (this.lyt.queryState() === "Virus") {
<app-query-virus-page></app-query-virus-page>
} @else if (this.lyt.queryState() === "Organelle") {
<app-query-organelle-page></app-query-organelle-page>
}