.app-wrapper{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-areas: 
    'nav side main'
    'nav side stat'
    'nav side cmd';
    grid-template-columns:  40px 200px auto;
    grid-template-rows:     auto 30px 60px;
    transition: grid-template-columns 0.1s ease;
}
.app-wrapper.hidden{
    grid-template-columns:  40px 0px auto;
}

.navbar-port {
    grid-area: nav;
    margin: 0.1em 0.1em 0 0;
    height: 100%;
}
.mainPane-port {
    grid-area: main;
    margin: 0.1em 0 0 0;
}


.statusbar-port {
    grid-area: stat;
    margin: 0.1em 0 0.1em 0;
}

.sidePane-port {
    grid-area: side;
    margin: 0.1em 0.1em 0 0;
}

.cmdline-port {
    grid-area: cmd;
    height: 100%;
    margin: 0.1em 0 0 0;
}