<div class="viewer-shell" tabindex="0" #shell>
    <div class="toolbar">
    <span class="toolbar-title">Sequence Viewer</span>

    @if (sqv.records().length > 1) {
        <span class="record-nav">
        <button class="rec-btn" (click)="prevRecord()" [disabled]="sqv.activeRecordIdx() === 0">&#8249;</button>
        <span class="rec-label">
            {{ sqv.activeRecordIdx() + 1 }} / {{ sqv.records().length }}
        </span>
        <button class="rec-btn" (click)="nextRecord()" [disabled]="sqv.activeRecordIdx() === sqv.records().length - 1">&#8250;</button>
        </span>

    }

    <span class="toolbar-hint">
        <kbd>h</kbd> <kbd>j</kbd> <kbd>k</kbd> <kbd>l</kbd> move &nbsp;-&nbsp;
        <kbd>i</kbd> insert &nbsp;-&nbsp;
        <kbd>r</kbd> replace &nbsp;-&nbsp;
        <kbd>v</kbd> visual &nbsp;-&nbsp;
        <kbd>x</kbd> delete &nbsp;·&nbsp;
        <kbd>Esc</kbd> normal
    </span>
    </div>

    <cdk-virtual-scroll-viewport
    #viewport
    [itemSize]="itemSizePx"
    [autofocus]="lyt.currentFocus() === 'MainPane'"
    class="scroll-viewport">

    @for (line of sqv.lines(); let idx = $index; track idx) {
        <app-sequence-line
            [line]="line"
            [lineIndex]="idx"
            [cursorOffset]="cursorOnLine(idx)"
            [mode]="sqv.mode()"
            [visualSelection]="sqv.visualSelection()">
        </app-sequence-line>
    }
    </cdk-virtual-scroll-viewport>

</div>