:host{
    width: 100%;
}
.avatar-option{
    cursor: pointer;
    display: contents;

    app-avatar-bird,
    app-avatar-duck,
    app-avatar-sheep,
    app-avatar-earth,
    app-avatar-falling,
    app-avatar-squirrel {
        pointer-events: none;
    }
}
.modal-avatar-grid {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 8px;
    justify-items: center;
}