*{
    margin: 0;
    padding: 0;

    --color-std-50:  #f9fee7;
    --color-std-100: #f3fdce;
    --color-std-200: #e7fb9d;

    --color-std-300: #daf96c;
    --color-std-400: #cef73b;
    --color-std-500: #c2f50a;
    --color-std-600: #9bc408;

    --color-std-700: #749306;
    --color-std-800: #4e6204;
    --color-std-900: #273102;
    --color-std-950: #1b2201;
}
html, body {
    height: 100dvh;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    line-height: 1.7;
    color: #161616;
    background-color: #f3f3f3;
    padding: 0 0 0 0;
    margin: 0 0 0 0;

    display: block;
}

app-root {
    height: 100%;
}



