<div class="notification-wrapper" #notification
    [class.Info]="this.notification().kind === 'Info'"
    [class.Warn]="this.notification().kind === 'Warn'"
    [class.Error]="this.notification().kind === 'Error'"
    [class.Success]="this.notification().kind === 'Success'">

    <div class="notification-icon">
        @if (this.notification().kind === "Info") {<span>ℹ️</span>}
        @else if (this.notification().kind === "Warn") {<span>⚠️</span>}
        @else if (this.notification().kind === "Error") {<span>❌</span>}
        @else if (this.notification().kind === "Success") {<span>🎉</span>}
    </div>

    <div class="notification-closer">
        <span >Press &lt;leader&gt;n to dismiss</span>
        <button class="btn-close"
        [class.Info]="this.notification().kind === 'Info'"
        [class.Warn]="this.notification().kind === 'Warn'"
        [class.Error]="this.notification().kind === 'Error'"
        [class.Success]="this.notification().kind === 'Success'"
        (click)="this.dismiss()">X</button>
    </div>

    <div class="message-segment">
        <span>{{this.notification().message}}</span>
    </div>
</div>